img {
  border-radius: 20px;
  padding: 10px;
}

.near-footer {
  margin-bottom: 120px !important;
}

img.education-photo {
  max-width: 100px;
  max-height: 100px;
}

img.professional-photo {
  max-width: 150px;
  max-height: 200px;
}

.about {
  padding: 0px 10px;
}
