:root {
  --dakota-yellow: #ffbd59;
  --dakota-gray: #545454;
  --dakota-blue: #207cdb;
}

img {
  border-radius: 20px;
  padding: 10px;
}

.near-footer {
  margin-bottom: 120px !important;
}

img.education-photo {
  max-width: 100px;
  max-height: 100px;
}

img.professional-photo {
  max-width: 150px;
  max-height: 200px;
}

.about {
  padding: 0px 10px;
}

@media (max-width: 576px) {
  h2 {
    text-align: center;
  }
}
.proficient-icons {
  font-size: 50px;
  color: var(--dakota-blue);
}

.familiar-icons {
  font-size: 50px;
  color: var(--dakota-yellow);
}

.languages {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  padding: 20px 10px;
  border-radius: 20px;
  margin: 0px;
}
