:root {
  --dakota-yellow: #ffbd59;
  --dakota-gray: #545454;
  --dakota-blue: #207cdb;
}

footer {
  background-color: var(--dakota-gray);
  font-family: "Arvo", serif;
  color: #fff !important;
}

p.footer-content {
  font-size: 12px;
  margin-bottom: 5px;
}

.social-media-icons {
  font-size: 25px;
}

@media (max-width: 576px) {
  p.footer-content {
    font-size: 10px !important;
    padding: 0px 0px 0px 0px;
    margin-bottom: 5px;
  }

  .social-media-icons {
    font-size: 20px;
  }
}
