:root {
  --dakota-yellow: #ffbd59;
  --dakota-gray: #545454;
  --dakota-blue: #207cdb;
}

.nav-logo {
  height: 90px;
  width: auto;
}

.bg-dark-new {
  background-color: var(--dakota-blue);
  font-size: 25px;
  font-family: "Arvo", serif;
  color: #fff !important;
}

.nav-link {
  color: #fff !important;
  margin: 3px;
  margin-bottom: 0px !important;
}

.nav-link:hover {
  color: var(--dakota-yellow) !important;
}

@media (max-width: 576px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .nav-logo {
    padding: 0px 0px 0px 0px;
    height: 70px;
    width: auto;
  }
}
