img.work {
  border-radius: 20px !important;
  padding: 10px !important;
}

.work {
  margin-bottom: 150px !important;
}

a.work-button {
  color: #fff;
  text-decoration: none;
  transition: all 200ms ease-in;
}

a.work-button:hover {
  color: var(--dakota-blue);
  text-decoration: none;
  transition: all 200ms ease-in;
}

@media (max-width: 576px) {
  h2 {
    text-align: center;
  }

  .work {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .work-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  p {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
