:root {
  --dakota-yellow: #ffbd59;
  --dakota-gray: #545454;
  --dakota-blue: #207cdb;
}

img {
  border-radius: 20px;
  padding: 10px;
}

.near-footer {
  margin-bottom: 120px !important;
}

img.education-photo {
  max-width: 100px;
  max-height: 100px;
}

img.professional-photo {
  max-width: 150px;
  max-height: 200px;
}

.about {
  padding: 0px 10px;
}

.about.near-top {
  margin-top: 7% !important;
}

@media (max-width: 576px) {
  h2 {
    text-align: center;
  }
}
.proficient-icons {
  font-size: 50px;
  color: var(--dakota-blue);
}

.familiar-icons {
  font-size: 50px;
  color: var(--background);
}

.languages {
  padding: 20px 10px;
  border-radius: 20px;
  margin: 0px;
}
