:root {
  --dakota-yellow: #ffbd59;
  --dakota-gray: #545454;
  --dakota-blue: #1f86ec;
}

.Footer {
  background-color: var(--background);
  font-family: "Arvo", serif;
  color: var(--dakota-blue) !important;
  margin-bottom: 0;
}

.footer-icon {
  color: var(--dakota-blue) !important;
}

.footer-link {
  color: var(--dakota-yellow) !important;
}

.footer-link:hover {
  color: var(--dakota-blue) !important;
}

p.footer-content {
  font-size: 12px;
  margin-bottom: 5px;
}

.social-media-icons {
  font-size: 25px;
}

@media (max-width: 576px) {
  p.footer-content {
    font-size: 10px !important;
    padding: 0px 0px 0px 0px;
    margin-bottom: 5px;
  }

  .social-media-icons {
    font-size: 20px;
  }
}
